.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 64px;
  background-color: red;
}

.content {
  flex: 1;
  background-color: green;
}

.footer {
  height: 24px;
  background-color: pink;
}
